@charset "utf-8";
body{
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url('../tugasBiodata/img/bg-black.webp');   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: myriad pro regular;
    color: #9b9b9b;
    font-size: 15px;
    font-weight: 700;
}
.logo{
    font-family: RoadTest;
    font-weight: bolder;
    color: #000000;
    font-size: 22px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #d8d8d8;
    font-size: 22px;
}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 40px;
}
.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: #d8d8d8;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
    line-height: opx;
    margin: 45px 0px 25px;
}
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.model{
    height: 560px;
    position: absolute;
    bottom: -20px;
    left: 70%;
    transform: translateX(-70%);
}
.about-container{
    width: 80%;
    height: 330px;
    background-image: url(../tugasBiodata/img/bg-putih.jpg);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 250px;
}
.about-text{
    width: 550px;
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}
.about-text p:nth-child(2){
    color: #7e7d7d;
    font-family: calibri;
    font-size: 16px;
}
.about-text p:nth-child(3), .about-text p:nth-child(4){
    color: #7e7d7d;
    font-family: calibri;
    font-size: 16px;
}
.pencapaian{
    height: 450px;
    background-color: #FFFFFF;
    padding: 2% 10% 0px 10%;
}
.pencapaian-text{
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 40px;
    line-height: 0px;
}
.pencapaian-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #3e3e3d;
    font-size: 15px;
    line-height: 5px;
}
.pencapaian-text p:nth-child(3){
    font-family: calibri;
    color: #7e7d7d;
}
.pencapaian-text{
    width: 500px;
    margin: 50px 0px;
}
.impian{
    height: 600px;
    background-color: #FFFFFF;
    padding: 2% 10% 0px 10%;
}
.impian-text{
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 40px;
    line-height: 0px;
}
.impian-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #3e3e3d;
    font-size: 15px;
    line-height: 5px;
}
.impian-text p:nth-child(3){
    font-family: calibri;
    color: #7e7d7d;
}
.impian-text{
    width: 500px;
    margin: 50px 0px;
}
.box-1,.box-2,.box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-container{
    display: flex;
    justify-content: space-between;
}
.box-1{
    background-image: url("../tugasBiodata/img/daun.jpg");
}
.box-2{
    background-image: url("../tugasBiodata/img/daun.jpg");
}
.box-3{
    background-image: url("../tugasBiodata/img/daun.jpg");
}
.box-1 span,.box-2 span,.box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    font-weight: bold;
    margin: 0px 0px 120px 0px;

}
.box-1 p:nth-child(2),.box-2 p:nth-child(2),.box-3 p:nth-child(2){
    color: #FFFFFF;
    font-family: calibri;
    font-size: 23px;
    line-height: 0px;
    margin: -100px 0px 50px 0px;
}
.box-1 p,.box-2 p, .box-3 p{
    font-family: calibri;
    text-align: center;
    width: 300px;
    margin: 0px 0px 0px 0px;
    color: #CCCCCC;
}
.contact-me{
    width: 100%;
    height: 280px;
    background-image: url("../HTML/aset/img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p{
    color: #FFFFFF;
    font-size: 30px;
    font-family: calibri;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
}
footer{
    background-image: url(../tugasBiodata/img/bg-black.webp);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p{
    font-family: calibri;
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #dadada;
    line-height: 5px;
}
footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons{
    display: flex;
}
.copyright{
    color: #dadada;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 2px;
    transform: translateX(-50%);
}
.social-icons a:hover{
    background-color: #696969;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.25s;
}